<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095517098932-p14h43u7hg3acp8esv1734re0tdqt4gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095517098932-p14h43u7hg3acp8esv1734re0tdqt4gs</string>
	<key>API_KEY</key>
	<string>AIzaSyBz-uiBosk3fkq8oDJtLVE5YuhVfxSFBqk</string>
	<key>GCM_SENDER_ID</key>
	<string>1095517098932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>hello-world-fb922</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world-fb922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095517098932:ios:c72bb3e0aa7b3a73ee98e1</string>
</dict>
</plist>